spring:
  application:
    name: jyp-server-prod
app:
  name: jyp-server
  security:
    jwt:
      expires-in:
      secret:

  thread:
    email-service-pool:
      size: 3

  jyp:
    url: https://project-jyp.herokuapp.com
    secret:
    access-token:

  cloud:
    aws:

  web:

  social:
    kakao:
      client-id:
      redirect:
      url: https://dapi.kakao.com

bucket4j:
  enabled: true
  filters:
    - cache-name: buckets
      url: /*
      rate-limits:
        - bandwidths:
            - capacity: 5
              time: 10
              unit: seconds

springdoc:
  version: '@project.version@'
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /swagger-ui.html
    disable-swagger-default-url: true
    display-query-params-without-oauth2: true
  paths-to-match:
    - /api/v1/**
    - /test/**
